.diary-home{
  // background-color: #6499ec;
  width: 100%;
  min-height:100vh;

  .spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    .spinner-text{
      color: white;
      margin-top: 10px;
      text-align: center;
    }
  }
}

.grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  word-break: break-word;
}

@media only screen and (max-width: 1280px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 960px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
