.main-container {
  margin-top: 60px;
}

.k-form-fieldset {
  margin: 10px;
}

.k-textbox {
  margin: 10px;
  height: 40px;
  width: 98%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.description {
  height: 100px;
}

.k-form-buttons {
  margin: 10px;
  padding: 5px;
  width: 100px;
  border-radius: 20px;
}
