.wrap {
  display: flex;
  align-items: center;
  margin: 100px -10px;
  justify-content: center;
}
.item {
  flex: 0 0 33%;
  padding: 10px;
}

.k-block {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  background-color: none;
  background-color: transparent;
  border: none;
}
