<div class="card">
    <div>
        <div *ngIf="card">
            <h2 id="title">{{ card.title }}</h2>
            <p id="sub-title">{{ card.subtitle }}</p>
            <p id="description">{{ text.value }}</p>
        </div>
    </div>
    <div *ngIf="card.description.length>100">
        <button
            type="button"
            id="showMoreBtn" 
            (click)="handleShowMore()"
        >
            {{ text.value?.endsWith('...')?'SHOW MORE':'SHOW LESS' }}
        </button>
    </div>
</div>
