kendo-card {
    border-radius: 12px;
}

.k-card-title {
    margin-bottom: 0px;
}

button {
    border-radius: 20px;
    display: inline-flex;
    cursor: pointer;
    outline: none;
    position: relative;
    align-items: center;
    font-weight: bold;
    vertical-align: middle;
    justify-content: center;
    height: 36.75px;
    background-color: inherit;
}
