$text-box-color : #B9E9FF;
.diary-home{
  background-color: #6499ec;
  width: 100%;
  min-height:100vh;
}


.k-form {
  padding: 20px;
  .title-row{
    display: flex;
    justify-content: space-between;
  }
  .k-form-field{
    width: 100%;
  }
  .input-text-wrap{
    padding: 4px 0 4px 4px;
    background-color: $text-box-color;
    border-radius: 24px;
    margin-right: 10px;
    input{
      font-size: medium;
    }
  }
    kendo-textarea{
      padding-left: 4px;
      background-color: $text-box-color;
      border-radius: 12px;
      font-size: medium;
      .k-input{
        min-height: 150px !important;
      }
    }
  button{
    background-color: rgba(17, 101, 238, 0.93);
    border-radius: 20px;
    width: 100%;
    padding: 6px 16px;
    font-size: large;
    font-weight: bold;
  }
}

.grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  word-break: break-word;
}

@media only screen and (max-width: 1280px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 960px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
