.line-clamp {
    height: 3.4rem;
  }

.btn {
    padding: 3px 8px;
    cursor: pointer;
    color: gray;
}

.btn:hover {
    text-decoration: underline;
    color: black;
}

.showbtn{
    margin-bottom: 8px;
    margin-left: 4px;
}