// .signin-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//   }

//   form {
//     margin: 0 auto;
//     padding: 20px;
//     text-align: center;
//   }

//   button {
//     font-size: 1.2em;
//     padding: 5px 10px;
//     background-color: #006064;
//     color: white;
//     border-radius: 5px;
//   }

//   .name-input-space {
//     margin: 10px 10px;
//   }

//   .name-input{
//     padding: 10px 8px;
//   }

//   .signin-div{
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//   }

//   label{
//     color: #006064;
//     font-size: medium;
//     font-weight: bold;
//   }

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-space{
    margin: 10px 20px;
}

.bg-color{
    background: fixed;
    background-color: aqua;
}


