.signin-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.k-form {
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  background-color: #f5f5f5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.k-textbox {
  margin: 10px;
}

.k-button {
  margin: 10px;
}
.user-name {
  padding-bottom: 20px;
}

.sign-in-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8ea7e9;
}

.dear-diary-heading {
  color: #8ea7e9;
}
