<div class="example center-div">
  <h1 style="font-size: x-large; font-weight: bolder; color: white">
    Dear Diary
  </h1>
  <kendo-card style="padding: 20px 40px">
    <form class="k-form" [formGroup]="form">
      <fieldset class="k-form-fieldset">
        <kendo-formfield>
          <kendo-label [for]="username" text="Username"></kendo-label>
          <kendo-textbox
            formControlName="username"
            #username
            required
          ></kendo-textbox>

          <kendo-formerror>Error: Username is required</kendo-formerror>
        </kendo-formfield>

        <div class="k-form-buttons" style="margin-top: 20px">
          <button
            kendoButton
            themeColor="primary"
            [disabled]="form.invalid || form.get('username')?.value?.length < 3"
            (click)="login()"
          >
            Continue
          </button>
          <button kendoButton (click)="generateRandomName()">Random</button>
        </div>
      </fieldset>
    </form>
  </kendo-card>
</div>
