.cardscontainer{
 background: -webkit-linear-gradient(right, #7be9f7, #2d67bd);
width: 100%;

}

.cards {
  max-width: 100%;
  margin: 10px ;
  display: grid;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}