<div class="login-content">
  <div id="logincard">
    <div id="logincard-content">
      <div>
        <h2>Dear Diary</h2>
      </div>
      <div id="logincard-title">
        <h2>Sign In</h2>
      </div>
      <div class="form">
        <label for="user-name" class="usernamelable"> &nbsp;Username </label>
        <div class="grid-container">
          <div class="grid-item">
            <input
              id="user-name"
              class="form-content"
              type="text"
              name="username"
           
              value="{{ username }}"
              required
              #userInput
              (change)="handleChange(userInput.value)"
            />
          </div>
          <div>
            <button id="random-button" (click)="handleClick()">rondom</button>
          </div>
        </div>
        <input id="submit-btn" type="submit" name="submit" value="LOGIN" />
      </div>
    </div>
  </div>
</div>
