<div class="container">
    <div id="content">
        <h1>HOME</h1>
        <div id="addForm" (clickOutside)="expanded = false">
            <div id="titleSec">
                <input
                    type="text"
                    id="title"
                    placeholder="Enter Title"
                    value="{{ form.value.title }}"
                    [formControl]="form.controls.title"
                    (click)="expanded = true"
                    class="txt title"
                    [class]="expanded ? 'expandTitle' : ''"
                />
                <button
                    type="submit"
                    id="btnSubmit"
                    (click)="handleSubmit()"
                    [class]="expanded ? 'expand' : 'collapse'"
                >
                    SUBMIT
                </button>
            </div>
            <div>
                <textarea
                    name="description"
                    [formControl]="form.controls.description"
                    id="description"
                    cols="30"
                    rows="5"
                    placeholder="Enter description"
                    class="txt"
                    [class]="expanded ? 'expand' : 'collapse'"
                    >{{ form.value.description }}</textarea
                >
            </div>
        </div>
    </div>

    <div class="grid-container" *ngIf="cards">
        <div class="grid-item" *ngFor="let card of cards | async">
            <app-diary-card [card]="card"></app-diary-card>
        </div>
    </div>
</div>
