<div class="nav">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header">
    <button kendoButton *ngIf="!opened" (click)="open()">
      Do not click this button
    </button>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <kendo-dialog title="Oh no!" *ngIf="opened" (close)="close()">
    <p style="margin: 30px; text-align: center">The button was clicked.</p>

    <kendo-dialog-actions>
      <button kendoButton (click)="close()" themeColor="primary">
        Yes, sorry.
      </button>
    </kendo-dialog-actions>
  </kendo-dialog>



  <div class="nav-links">
    <input class="navbarsearch" type="text" placeholder="Search..." />
    <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">JsFiddle</a>
  </div>
</div>
