kendo-card {
    border-radius: 12px;
}

.k-card-title {
    margin-bottom: 0px;
}

button {
    border-radius: 20px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    line-height: 1.5;
    
}
