<kendo-card [ngStyle]="{'background-color': cardColor}">
  <kendo-card-header class="k-hstack">
    <div>
      <h1 kendoCardTitle>{{title}}</h1>
      <p kendoCardSubtitle>{{subtitle}}</p>
    </div>
  </kendo-card-header>

  <kendo-card-body>
    <p>{{getDescription()}}</p>
  </kendo-card-body>

  <kendo-card-actions *ngIf="description.length>100" orientation="horizontal" layout="start">
    <div kendoRippleContainer>
      <button (click)="toggleShowMore()" class="k-button">
        {{isShowMore ? "SHOW LESS" : "SHOW MORE"}}
      </button>
    </div>
  </kendo-card-actions>
</kendo-card>
