<div class="home">
  <app-navbar></app-navbar>
  <div class="add-card">
    <form [formGroup]="form" (ngSubmit)="submitForm()" >
      <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title" type="text" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea formControlName="description"  class="form-control" id="description" rows="3"></textarea>
      </div>
      <div class="button-wrap">
        <button class="btn btn-primary btn-sm" type="submit">ADD NEW CARD</button>
      </div>
    </form>
  </div>

  <div class="d-flex align-content-around flex-wrap ml-5 mr-5 p-0 mt-5">
    <app-diary-card *ngFor="let card of diaryCardArray$|async" [data]="card"></app-diary-card>
  </div>

</div>
