<div class="main-container">
  <div class="example-wrap">
    <form class="k-form" [formGroup]="addCardForm">
      <fieldset class="k-form-fieldset">
        <kendo-formfield>
          <input
            formControlName="title"
            kendoTextBox
            #title
            required
            placeholder="Enter the Title"
          />
          <kendo-formerror>Error: Title is required</kendo-formerror>
        </kendo-formfield>

        <kendo-formfield>
          <input
            formControlName="description"
            kendoTextBox
            #description
            required
            placeholder="Enter the Description"
            class="description"
          />
          <kendo-formerror>Error: Description is required</kendo-formerror>
        </kendo-formfield>

        <div class="k-form-buttons">
          <button kendoButton themeColor="primary" (click)="submitForm()">
            ADD
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
