.cardformcontainer {
  background: -webkit-linear-gradient(right, #7be9f7, #2d67bd);
  height: 220px;
  width: 100%;
  overflow: hidden;
  transition: height 0.6s ease-in-out;
}

.formhelper {
  width: 100%;
  height: 50px;
}
.cardformtitle {
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
  text-align: left;
  color: #fff;
}
.cardforminputs {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.cardforminputs > input,
.cardforminputs > textarea {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  font-size: large;
}
.cardformbutton {
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  background-color: #bbbec1;
  margin: 10px;
}
