<div class="sign-in-container">
  <kendo-card width="460px">
    <kendo-card-header class="k-hstack">
      <kendo-avatar
        width="40px"
        height="40px"
        [imageSrc]="thumbnailSrc"
        shape="circle"
      ></kendo-avatar>
      <div>
        <h1 kendoCardTitle>Dear Diary</h1>
        <p kendoCardSubtitle>nuwan perera</p>
      </div>
    </kendo-card-header>

    <kendo-card-body>
      <h1 align="center" class="login-title">Sign In</h1>
      <div class="example-wrap">
        <form class="k-form" [formGroup]="userForm">
          <kendo-formfield>
            <kendo-label [for]="userName" text="Username"></kendo-label>
            <input
              formControlName="userName"
              kendoTextBox
              size="large"
              #userName
              required
              class="login-input"
              value="{{ username }}"
            />

            <kendo-formhint align="start">Your username</kendo-formhint>
            <kendo-formerror align="start"
              >Error: Username is required</kendo-formerror
            >
          </kendo-formfield>
          <button
            (click)="handleClick()"
            kendoButton
            themeColor="primary"
            align="end"
            class="login-button-rondom"
          >
            random
          </button>
        </form>
      </div>
    </kendo-card-body>
    <kendo-card-actions
      class="login-button-action"
      orientation="horizontal"
      layout="stretched"
    >
      <button kendoButton themeColor="success" rounded="large" size="medium">
        continue
      </button>
      <button kendoButton themeColor="success" rounded="large" size="medium">
        cancel
      </button>
    </kendo-card-actions>
  </kendo-card>
</div>
<!-- <div class="login-content">
  <div id="logincard">
    <div id="logincard-content">
      <div>
        <h2>Dear Diary</h2>
      </div>
      <div id="logincard-title">
        <h2>Sign In</h2>
      </div>
      <div class="form">
        <label for="user-name" class="usernamelable"> &nbsp;Username </label>
        <div class="grid-container">
          <div class="grid-item">
            <input
              id="user-name"
              class="form-content"
              type="text"
              name="username"
           
              value="{{ username }}"
              required
              #userInput
              (change)="handleChange(userInput.value)"
            />
          </div>
          <div>
            <button id="random-button" (click)="handleClick()">rondom</button>
          </div>
        </div>
        <input id="submit-btn" type="submit" name="submit" value="LOGIN" />
      </div>
    </div>
  </div>
</div> -->
