<div class="demo">
  <kendo-card class="card">
    <kendo-card-body class="card-body">
      <h1 class="title" >{{data?.title}}</h1>
      <h3 class="subtitle" >{{data?.subtitle}}</h3>
        <div class="body-content">
          {{(isExpand) ? data?.description : data?.description | slice:0:100}} <span *ngIf="!isExpand">...</span>
        </div>
    </kendo-card-body>
    <kendo-card-actions class="action-bar"  >
      <div style="padding: 0">
        <button class="k-button k-flat" (click)="showMore()"  >
          {{(!isExpand)? 'SHOW MORE':'SHOW LESS'  }}
        </button>
      </div>
    </kendo-card-actions>
  </kendo-card>
</div>
