.card{
  padding:0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.k-card-body h4 {
  text-align: center;
}
.recipe-wrap {
  padding-top: 12px;
  background-color: antiquewhite;
  border-radius: 2px;
}
.recipe-wrap div {
  color: #ff6358;
}
.description{
  margin-bottom: 0;
  background-color:wheat;
  border-radius: 5px;
}
.action-bar{
  padding: 2px 8px;
}
.header{
  font-weight: 700;
  font-family: Calibri;
  font-size: 24px;
  background-color: yellow;
  border-radius: 20px;
}
