@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-image: url("../src/assets/background-image.jpg");
  background-repeat: repeat;
}
