<div class="login-form">
    <form class="k-form" [formGroup]="loginForm">
        <div class="grid">
            <kendo-formfield>
                <input class="nickname" formControlName="nickname" placeholder="Your Nickname*">
            </kendo-formfield>
            <button kendoButton themeColor="primary" (click)="showNickname()">RANDOM</button>
        </div>
        
        <div class="k-form-buttons">
            <button kendoButton themeColor="primary" (click)="signIn()" [disabled]="!loginForm.valid">Continue</button>
        </div>
    </form>
</div>