.login-form {
    width: 100%;
}
input{
    background-color: #b3d4fc;
    width: 100%;
}
.nickname{
    border-radius: 24px;
    height: 32px;
}

button {
    height: 36.5px;
    background-color: #2271F1EE;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
}