<div class="sign-in">
  <form class="k-form k-form-horizontal" [formGroup]="signin" >
    <fieldset class="k-form-fieldset">
      <div class="title"><h1>Sign In</h1></div>
      <div class="nickname">
        <kendo-formfield orientation="horizontal">
          <input class="k-text k-input" formControlName="nickname" kendoTextBox placeholder="Your Nickname" required />
          <kendo-formerror>Error: Nickname is required</kendo-formerror>
        </kendo-formfield>
        <div kendoRippleContainer>
          <button class="random-btn" (click)="setRandomName()"  kendoButton >RANDOM</button>
        </div>
      </div>

    </fieldset>
    <div class="continue-btn">
      <div kendoRippleContainer>
        <button kendoButton (click)="onContinue()" [disabled]="isNicknameEmpty()">CONTINUE<kendo-icon name="arrow-right" size="medium"></kendo-icon></button>
      </div>
    </div>
  </form>

</div>



